/* Variables */
:root {
    --orange: #FF6900;
    --darkgrey: #1a1a1a;
    --white: white;
}

/* Generics */
body {
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
    padding: 0.1rem;
}

/* Header */
header {
    background-color: var(--orange);
    color: white;
    box-shadow: 0px 1px 5px #818181;
    position: sticky;
    top: 0;
}

nav {
    height: 3.5rem;
    padding: 1rem 0px;
    justify-content: space-between;
    align-items: center;
}

/* Main */
.column1 {
    max-width: 15%;
    background-color: #1a1a1a;
}

/* FOOTER */
footer {
    background-color: var(--darkgrey);
    color: var(--white);
}

footer .container {
    height: 3.5rem;
    line-height: 25px;
    justify-content: space-between;
    align-items: center;
}