/* Variables */
:root {
    --orange: #FF6900;
    --darkgrey: #1a1a1a;
    --white: white;
    --green: #008000;
    --red: red;
    --paddings: 2px 10px;
}

/* Generics */
body {
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
    padding: 0.1rem;
}

/* Header */
header {
    background-color: var(--orange);
    color: white;
    box-shadow: 0px 1px 5px #818181;
    position: sticky;
    top: 0;
    z-index: 3;
}

nav {
    height: 3.5rem;
    padding: 1rem 0px;
    justify-content: space-between;
    align-items: center;
}

/* MAIN */
.row {
    margin-top: 40px;
    flex-wrap: wrap;
    row-gap: 1rem;
    justify-content: space-between;
}

.column {
    flex-basis: 32%;
    /* position: relative; */
    /* debug */
    background-color: #1a1a1a;
}

.card {
    position: relative;
    display: inline-block;
}

.card .img-top {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.card:hover .img-top {
    display: inline;
}

.heart {
    height: auto;
    width: 2.2rem;
    background-color: var(--white);
    top: 0.5rem;
    right: 0;
    position: absolute;
    text-align: center;
    font-size: 1.8rem;
    line-height: 2rem;
    z-index: 2;
}

.discount {
    display: inline-block;
    background-color: var(--red);
    padding: var(--paddings);
    color: var(--white);
    position: relative;
    bottom: 4rem;
    z-index: 3;
}

.labelsos {
    display: inline-block;
    color: var(--white);
    background-color: var(--green);
    padding: var(--paddings);
    position: relative;
    bottom: 4rem;
    z-index: 2;
}

/* FOOTER */
footer {
    background-color: var(--darkgrey);
    color: var(--white);
}

footer .container {
    height: 3.5rem;
    line-height: 25px;
    justify-content: space-between;
    align-items: center;
}