/* Variables */
:root {
    --orange: #FF6900;
    --darkgrey: #1a1a1a;
}

/* Generics */
body {
    /* background-color: #1a1a1a; */
}

a {
    text-decoration: none;
    color: inherit;
    padding: 0.1rem;
}

/* Header */
header {
    background-color: var(--orange);
    color: white;
    box-shadow: 0px 1px 5px #818181;
}

nav {
    height: 3.5rem;
    padding: 1rem 0px;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
}

/* Main */